[Unit]
Description=EXT4 Check Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/simple-node-health --port 8080 --domain cloudflare.com
Restart=on-failure
User=nobody
Group=nogroup
Environment=PORT=8080
Environment=DOMAIN=cloudflare.com

[Install]
WantedBy=multi-user.target
