[Unit]
Description=Simple Node Health Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/simple-node-health
Restart=on-failure
User=snh
Group=snh

[Install]
WantedBy=multi-user.target
